<h1> Sign up form </h1>
 
<form id="userform" action="/auth/register" method="post">
    <label>Usuário</label><br>
    <input type="text" name="user"> <br>
    <label>Email</label><br>
    <input type="text" name="mail"> <br>
    <label>Senha</label><br>
    <input type="password" name="senha"> <br>
    <label>Confirmar Senha</label><br>
    <input type="password" name="confirmsenha"> <br>
    <button type="submit"> Cadastrar</button> <br>
</form>
 
<h1>This is home page</h1>
 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>